// Use this file as a starting point for your project .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "mocha": true
  }
}
